
import("xml2")

export("ttxListTables",
       "ttxGetTable",

       "ttxFontFamily",
       "ttxFontWeight",
       "ttxFontStyle",
       
       "ttxGlyphNames",
       "ttxGlyphIndex",
       "ttxGlyphWidth",
       "ttxGlyphHeight",
       "ttxGlyphBounds")
